<div class="categories-section main-grid-border ">
    <div class="container">
        <h2 class="w3-head">Mon compte</h2>
        <div class="category-list">
            <div id="parentVerticalTab">
                <div class="agileits-tab_nav">
                    <ul class="resp-tabs-list hor_1">
                        <li>Mes informations</li>
                        <li>Mes annonces</li>
                        <li>Offres reçues</li>
                        <li>Mes demandes</li>
                    </ul>
                </div>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="category" style="border-bottom: 0px solid white">
                            <span class="active total" style="display:block;">
                                <strong>Mes informations</strong>
                            </span>
                            <div class="post-ad-form">
                                <form>
                                    <label>Your Name <span>*</span></label>
                                    <input type="text" class="name" placeholder="">
                                    <div class="clearfix"></div>
                                    <label>Your Mobile No <span>*</span></label>
                                    <input type="text" class="phone" placeholder="">
                                    <div class="clearfix"></div>
                                    <label>Your Email Address<span>*</span></label>
                                    <input type="text" class="email" placeholder="">
                                    <div class="clearfix"></div>
                                    <input class="btn btn-primary" type="submit" value="Enregistrer">
                                    <div class="clearfix"></div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Mes annonces</strong>
                            </span>
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce</h4>
                                <br />
                                <button class="btn btn-default">Modifier</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info " style="width: 70%">
                                <h4>Titre de l'annonce n°2</h4>
                                <br />
                                <button class="btn btn-default">Modifier</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Mes offres</strong>
                            </span>
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <button class="btn btn-success">Accepter</button> &nbsp; &nbsp;<button class="btn btn-danger">Refuser</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°2</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <button class="btn btn-success">Accepter</button> &nbsp; &nbsp;<button class="btn btn-danger">Refuser</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°3</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <span class="badge badge-success" style="width: 30%"><span style="color: white">Acceptée</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°4</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <span class="badge badge-danger" style="width: 30%"><span style="color: white">Refusée</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Mes demandes</strong>
                            </span>
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°2</h4>
                                <br />
                                Votre message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <span class="badge badge-secondary" style="width: 30%"><span style="color: white">En attente</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°3</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <span class="badge badge-success" style="width: 30%"><span style="color: white">Acceptée</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="category">
                            <div class="category-img">
                                <img src="https://fakeimg.pl/300/" title="image" alt="" />
                            </div>
                            <div class="category-info" style="width: 70%">
                                <h4>Titre de l'annonce n°4</h4>
                                <br />
                                Message: <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare mauris nec metus dignissim interdum. Mauris vel facilisis nullam. </span>
                                <span class="badge badge-danger" style="width: 30%"><span style="color: white">Refusée</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Plug-in Initialisation-->
<script type="text/javascript">
        $(document).ready(function () {

            //Vertical Tab
            $('#parentVerticalTab').easyResponsiveTabs({
                type: 'vertical', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo2');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
</script>