
@{
    ViewBag.Title = "Backoffice";
}
<br />
<div class="jumbotron">
    <h1>Backoffice</h1>
    <p class="lead">PartageCO : Troc de matériels & services entre particuliers</p>
    <a href="@Url.Action("Index", "User", new { IsValid = "Non" })" class="btn btn-primary btn-lg">Demandes d'inscription (@ViewData["nbUserToValidate"])</a>
    <a href="@Url.Action("Index", "Product", new { Status = "to_validate" })" class="btn btn-primary btn-lg">Propositions de produits (@ViewData["nbProductToValidate"])</a>
</div>


